* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #3498db, #2c3e50);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: #3b064d;
    text-align: center;
}

.taskarea {
    margin: 5% 10%;
    height: 70vh;
    width: 80vw;
    padding: 10px;
    overflow: auto;
}

.taskarea:hover {
    transform: perspective(1000px) rotateX('20deg');
}

.Checkbox {
    background-color: white;
    height: 30px;
    width: 30px;
    margin-right: 30px;
}

.write-area {
    background-color: white;
    height: 30px;
    width: 100%;
    padding-top: 3px;
    padding-left: 10px;
    font-weight: bolder;
    color: black;
    font-size: larger;
    border: 2px solid black;
    border-radius: 10px;
}

.tasklist {
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-size: xx-large;
}

.tasklist li {
    background-color: rgb(160, 140, 109);
    margin-left: 10px;
    display: flex;
    position: relative;
    align-items: center;
    height: 70px;
    border: 2px solid rgb(14, 14, 14);
    border-radius: 10px;
    margin-bottom: 10px;
}

.tasklist ul li {
    list-style-type: none;
}

.tasklist li input {
    margin-right: 10px;
    margin-left: 20px;
    height: 20px;
    width: 20px;
}

.tasklist li button {
    position: absolute;
    right: 10px;
    border: 2px solid black;
    font-weight: bolder;
    color: #351515;
    padding: 10px;
    font-size: medium;
}

.tasklist li button:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.addtask-icon {
    color: black;
    margin-top: 10px;
    width: fit-content;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bolder;
    background-color: #ff6f61;
}

.remove-task {
    margin-left: 10px;
    padding: 4px;
    margin-bottom: 3px;
    color: black;
    background-color: violet;
    border: 1px solid black;
    border-radius: 10px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .taskarea {
        margin: 5% 5%;
        width: 90vw;
    }
}
